.button {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(-45deg, #8ce4cb, #33a987, #8ce4cb);
  background-size: 300%;
  color: #1a5444;
  padding: 12px 48px;
  border-radius: 16px;
  transition: all 0.8s;
  user-select: none;
}
.button:hover {
  background-position: right;
}
