.button {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to bottom right, #8ce4cb, #33a987);
  color: #1a5444;
  padding: 12px 48px;
  border-radius: 16px;
}
.button:hover {
  background: linear-gradient(to top left, #8ce4cb, #33a987);
}
