.item {
  list-style: none;
  margin-left: 12px;
  background-color: #b3eddd;
  color: #1a5444;
  padding: 4px 12px;
  border-radius: 16px;
}

@media (max-width: 1023.5px) {
  .item {
    margin-left: 8px;
    border-radius: 12px;
  }
}
