.cover1 {
  border-radius: 16px;
}
.cover2M,
.cover3M {
  display: none;
}

.eyeIcon {
  margin-left: 4px;
  width: 18px;
  height: 18px;
}

@media (max-width: 1023.5px) {
  .cover1 {
    width: 350px;
    height: 128px;
    border-radius: 8px;
  }
  .cover2,
  .cover3 {
    display: none;
  }
  .cover2M,
  .cover3M {
    display: block;
  }

  .eyeIcon {
    width: 11.31px;
    height: 11.31px;
  }
}

/* @media (max-width: 1279.5px) {
  .cover1 {
    width: 350px;
    height: 128px;
    border-radius: 8px;
  }
} */

@media (max-width: 424.5px) {
  .cover1,
  .cover2M,
  .cover3M {
    width: 100%;
    height: 128px;
    border-radius: 8px;
  }
}
