.seeMore {
  text-decoration: none;
  color: #4ca58c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 8px;
  transition: all 0.2s linear;
}
.seeMore:hover {
  color: #296f5c;
}
