* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IRANSans", "B Nazanin", Arial, Helvetica, sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

.active {
  background-color: #40d3a9;
  border-radius: 8px;
  color: #ecfbf6 !important;
}
