.logoname {
  background: linear-gradient(to bottom right, #8ce5cb, #33a987);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ulMenu {
  list-style: none;
  display: flex;
  align-items: center;
}
.ulMenu li {
  margin-left: 24px;
  border-radius: 8px;
  position: relative;
}
.ulMenu li::after {
  content: "";
  width: 0;
  height: 30px;
  display: inline-block;
  background-color: #40d3a9;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  cursor: pointer;
  transition: all 0.1s linear;
}
.ulMenu li:hover::after {
  width: 30px;
  filter: drop-shadow(-5px 2px 4px #40d3a9) blur(25px);
}
.ulMenu a {
  text-decoration: none;
  color: #0e1b17;
  padding: 5px;
}

.login {
  text-decoration: none;
  color: #40d3a9;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s linear;
}
.login:hover {
  color: #1a5444;
}

.profile {
  width: 36px;
  height: 36px;
  padding: 6px;
  margin: 6px 24px 6px 0 !important;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.profile:hover {
  background-color: #33a987;
}
