.logoname {
  background: linear-gradient(to bottom right, #8ce5cb, #33a987);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ulMenu {
  list-style: none;
  display: flex;
  align-items: center;
}
.ulMenu li {
  margin-left: 24px;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}
.ulMenu li:hover {
  box-shadow: -5px 2px 40px #40d3a9;
}
.ulMenu a {
  text-decoration: none;
  color: #0e1b17;
  padding: 5px;
}

.login {
  text-decoration: none;
  color: #40d3a9;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s linear;
}
.login:hover {
  color: #1a5444;
}

.profile {
  width: 36px;
  height: 36px;
  padding: 6px;
  margin: 6px 24px 6px 0 !important;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.profile:hover {
  background-color: #33a987;
}
