.ulMenu li {
  list-style: none;
  margin-bottom: 24px;
  border-radius: 50%;
  position: relative;
  /* transition: all 0.3s ease-in; */
}
.ulMenu li::after {
  content: "";
  width: 0;
  height: 30px;
  display: inline-block;
  background-color: #40d3a9;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  cursor: pointer;
  transition: all 0.1s linear;
}
.ulMenu li:hover::after {
  width: 30px;
  filter: drop-shadow(-5px 2px 4px #40d3a9) blur(25px);
}
.ulMenu a {
  text-decoration: none;
  color: #0e1b17;
  padding: 5px;
}
