h1 br {
  display: block;
}

.logoName {
  background: linear-gradient(to bottom right, #8ce4cb, #33a987);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coursesBtn,
.moreInfoBtn {
  padding: 12px 48px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.8s;
}
.coursesBtn {
  background-image: linear-gradient(-45deg, #8ce4cb, #33a987, #8ce4cb);
  background-size: 250%;
  color: #1a5444;
}
.coursesBtn:hover {
  background-position: right;
}
.moreInfoBtn {
  border: 2px solid #40d3a9;
  color: #40d3a9;
}
.moreInfoBtn:hover {
  border-color: #1a5444;
}

@media (max-width: 520px) {
  h1 br {
    display: none;
  }

  .coursesBtn,
  .moreInfoBtn {
    padding: 12px 38px;
  }
}

@media (max-width: 767.5px) {
  .introDescription br {
    display: none;
  }
}
