.signinButton {
  background: linear-gradient(to bottom right, #8ce4cb, #33a987);
  border: none;
  border-radius: 16px;
  padding: 12px 48px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
}
.signinButton:hover {
  background: linear-gradient(to top left, #8ce4cb, #33a987);
}
