/* start add fonts */
/* @font-face {
  font-family: "IRANSans";
  src: local("IRANSans"),
    url("./assets/fonts/IRANSans/IRANSans.ttf") format(truetype),
    url("./assets/fonts/IRANSans/IRANSans.woff") format(woff);
}

@font-face {
  font-family: "Vazir";
  src: local("Vazir"), url("./assets/fonts/Vazir/Vazir.ttf") format(truetype),
    url("./assets/fonts/Vazir/Vazir.woff") format(woff);
} */
/* end add fonts */

@tailwind base;
/* change tailwindcss base */
img,
video {
  max-width: none !important;
}

@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IRANSans", "Vazir", Arial, Helvetica, sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

.active {
  background-color: #40d3a9;
  border-radius: 8px;
  color: #ecfbf6 !important;
}

.swiper-button-prev,
.swiper-button-next,
.cm-swiper-button-prev,
.cm-swiper-button-next {
  background-color: #d9f6ee;
  display: flex;
  padding: 6px;
  margin-left: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.swiper-button-prev:hover,
.swiper-button-next:hover,
.cm-swiper-button-prev:hover,
.cm-swiper-button-next:hover {
  background-color: #b3eddd;
}
